{% extends 'base.html.twig' %}

{% block title %}Calendrier
{% endblock %}
{% block body %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<h1>Page de profil</h1>
</body>
</html>
{% endblock %}