{% extends 'base.html.twig' %}

{% block title %}Calendrier
{% endblock %}
{% block body %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body>
    <h1>Première page du site !</h1>

    <div class="container">
        <h2>Utilisateurs</h2>
        <div class=""row flex>
            {% for user in users %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#">{{ user.lastname }}</a>
                            </h5>
                            <p class="card-text">{{ user.firstname }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
{% endblock %}
