{% extends 'base.html.twig' %}

{% block title %}Calendrier
{% endblock %}
{% block body %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body style="text-align: center">
    <h1>Bienvenue sur le calendrier Web Symfony !</h1>
    {% if not is_granted('ROLE_FORMATEUR') %}
        <br><br><br>
        <h2>Veuillez valider votre compte par un Administrateur</h2>
    {% endif %}
</body>
</html>
{% endblock %}
