{% extends 'base.html.twig' %}

{% block title %}Calendrier
{% endblock %}
{% block body %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body>
    <h1>Première page du site !</h1>
</body>
</html>
{% endblock %}
